/* Styles for Stack Overflow Recreation Project
by Darryl Mendonez, David Stichter, Sean Conaty, and Shreyans Patel */


/* Darryl Mendonez's CSS styles: */

.top-questions-stats {
  text-align: center;
}

.borderless td, .borderless th {
    border: none !important;
}

.asked {
  float:right;
}

/* Shreyans Patel's CSS styles: */

.navbar {
	border-radius: 0px !important;
}

.form-control {
	border-radius: 0px;
	padding-right:50px;
	height: 30px;
}

.dropdown-menu {
	width: 200px;
}

.description {
	padding-left: 20px;
}
